:root {
    --fontmain: "Mulish", serif;
    --fontsub: "Inter", serif;
    --colormain: #fff;
    --colorsub: #1D4ED8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100%;
    background-color: #ECEDF2;
    font-family: var(--fontmain);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colormain);
    border-bottom: 2px solid #dedede;
    position: sticky;
    top: 0;
    z-index: 99;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 100px;
}

nav li {
    list-style-type: none;
    display: inline;
}

nav a {
    color: rgba(15, 23, 42, 1);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    line-height: 20px;
    size: 14px;
}

nav>a img {
    width: 130px;
    height: 51px;
}

nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu-bar {
    display: none;
}

/* end of navbar */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {margin: 20px 0;}
p {margin: 30px 0;}

#sales {
    min-width: 1105px;
    background-color: #fff;
    border-radius: 20px;
    margin: 30px;
    height: 709;
    padding: 50px;
}

#sales > select:nth-of-type(1), #sales > select:nth-of-type(2), #sales > button {
    height: 50px;
    border-radius: 8px;
    border: none;
    padding: 0 20px;
}

#sales > select:nth-of-type(1) {
    width: 227px; 
}

#sales > select:nth-of-type(2) {
    width: 165px;
}

#sales > button {
    width: 120px;
    background-color: rgba(29, 78, 216, 1);
    color: #fff;
}

#graph-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "a b b b b b b"
    "c b b b b b b"
    "d b b b b b b"
    "e b b b b b b"
    "f b b b b b b"
    "g h i j k l m";
    width: 100%;
    padding: 20px;
    text-align: center;
}

#graph-grid div:nth-child(2) {grid-area: b;}
