:root {
    --fontmain: "Mulish", serif;
    --fontsub: "Inter", serif;
    --colormain: #fff;
    --colorsub: #1D4ED8;
    --outline: #dedede;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: var(--colormain);
    font-family: var(--fontmain);
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colormain);
    border-bottom: 2px solid #dedede;
    position: sticky;
    top: 0;
    z-index: 99;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    width: 100%;
    padding: 0 130px;
    height: 104px;
}

nav>div:first-of-type {
    display: flex;
    width: 265px;
    height: 20px;
    justify-content: space-between;
}

nav a {
    color: rgba(15, 23, 42, 1);
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

nav img {
    width: 130px;
    height: 51px;
}

nav>div {
    display: flex;
    justify-content: space-between;
    width: 185px;
}

nav button {
    border-radius: 5px;
    text-align: center;
    font-family: inherit;
    height: 48px;
}

#btn-sign-in {
    border: 1px solid var(--colorsub);
    color: var(--colorsub);
    background-color: var(--colormain);
    width: 81px;
}

#btn-sign-up {
    border: none;
    color: var(--colormain);
    background-color: var(--colorsub);
    width: 92px;
}

#menu-bar {
    display: none;
    width: fit-content;
}

/* END OF HEADER */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* firt section */

section:first-of-type {
    width: 100%;
    margin: 0;
}

#banner {
    background-image: url("../src/spiderman-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 16%;
    height: 415px;
    margin: 0;
    position: relative;
}

#banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* end of section 1 */

section:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1366px;
    width: 100%;
    margin: auto;
    padding: 0 130px;
}

#grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 264px 1fr 2fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    gap: 20px;
}

#img-container {
    height: 200px;
    width: 264px;
    grid-column: 1;
    grid-row: 1/ span 2;
}

#img-container img {
    object-fit: cover;
    object-position: bottom;
    position: relative;
    transform: translateY(-37%);
    z-index: 5;
}

#grid-container>div:nth-child(2) {
    grid-row: 1;
    grid-column: 2/ span 2;
}

#movie-title>p {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0;
}

#genre {
    margin: 20px 0;
}

#genre p {
    display: inline;
    font-weight: 400;
    background-color: rgba(160, 163, 189, 0.1);
    color: #A0A3BD;
    padding: 12px 25px;
    border-radius: 20px;
}

#grid-container>div:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
}

#release span,
#duration span,
#direction span,
#cast span {
    font-size: .9rem;
    color: #8692A6;
    letter-spacing: .75px;
}

#release p,
#duration p,
#direction p,
#cast p {
    font-size: 1rem;
    color: #121212;
    letter-spacing: .75px;
    line-height: 2rem;
    margin-bottom: 10px;
}

#grid-container>div:nth-child(4) {
    grid-row: 2;
    grid-column: 3;
}

#grid-container>div:last-child {
    grid-row: 3;
    grid-column: 1/ span 3;
    padding: 20px 0;
}

#grid-container>div:last-child span {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    letter-spacing: .5px;
}

#grid-container>div:last-child p {
    font-size: 1rem;
    color: #A0A3BD;
    line-height: 2rem;
    margin-top: 10px;
}

/* end of section 2 */

.book {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    width: 100%;
    margin: 50px 0;
    padding: 0 130px;
}

.book > p {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline;
}

form > p {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .5px;
    display: inline;
}

form > span {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .75px;
    display: inline;
    margin: 0 20px;
    color: #8692A6;
}

#booking {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    column-gap: 20px;
    margin: 50px 0;
}

#booking label {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 10px 0;
}

#booking>div:not(:nth-child(4)) {
    display: flex;
    flex-direction: column;
}

#booking>div:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    background-color: #EFF0F6;
    
}

#booking>div>div>img {
    margin: 25px;
}

#booking>div>div>select , input[type="text"] {
    flex: 1;
    border: none;
    appearance: none;
    background-color: #EFF0F6;
    outline-style: none;
    color: #4E4B66;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .25px;
}

#booking img:hover {
    cursor: pointer;
}

#btn-filter {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 56px;
    background-color: var(--colorsub);
    color: #F8FAFC;
}

#cinema-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 0;
}

#cinema-container> label {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 157px;
    border: 2px solid #DEDEDE;
    flex: 1;
    border-radius: 8px;
}

#cinema-container> label:hover {
    background-color: #1D4ED8;
    cursor: pointer;
}

#cinema-container> label:hover path {
    fill: white;
}

#cinema-container input[type=radio] {
    appearance: none;
}

#cinema-container input[type=radio]:checked + svg path {
    fill: white;
}

#cinema-container>label:has(input[type=radio]:checked) {
    background-color: #1D4ED8;
}

.pages-container {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
}

.pages-container>div {
    width: 40px;
    height: 40px;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-container>div:hover {
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pages-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages-flex a button {
    width: 188px;
    height: 56px;
    background-color: #1D4ED8;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.pages-flex a {
    text-decoration: none;
}

.pages-flex a button:hover {
    cursor: pointer;
}

/* FOOTER STYLES */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-container {
    display: grid;
    grid-template-columns: 1fr .6fr .6fr .6fr;
    width: 100%;
    max-width: 1366px;
    padding: 0 130px;
    margin: 50px 0;
}

#footer-container>div:not(:nth-child(4)) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#footer-container>div:nth-child(1) {
    padding-right: 70px;
}

#footer-container>div:nth-child(1) img {
    width: 184px;
    margin: 0;
}

#footer-container>div h6 {
    font-weight: 700;
    margin: 20px 0;
    font-size: 1rem;
}

#footer-container>div span {
    margin: 0;
    color: #6E7191;
    line-height: 2rem;
}

#footer-container>div:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 20px;
}

#footer-container>div:nth-child(4) h6 {
    grid-column: span 2;
}


#footer-container>div:nth-child(2)>ul {
    list-style-type: none;
    line-height: 2rem;
    color: #6E7191;
}

#copy {
    color: #4E4B66;
    margin: 50px;
}

/* BREAKPOINTS RESPONSIVE */
@media screen and (max-width: 768px) {

    nav>div:first-of-type>a,
    nav button {
        display: none;
    }

    nav {
        height: 91px;
        max-width: 375px;
        padding: 0;
    }

    /* nav>div:first-of-type>a {display: block;} */
    #menu-bar {
        display: block;
    }

    /* END OF HEADER */

    main {
        width: 100%;
        padding: 0;
    }
    
    #grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    }

    #img-container {
        grid-column: 1;
        grid-row: 1;
    }

    #grid-container>div:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }

    #grid-container>div:nth-child(3) {
        grid-row: 3;
        grid-column: 1;
    }

    #grid-container>div:nth-child(4) {
        grid-row: 4;
        grid-column: 1;
    }

    #grid-container>div:nth-child(5) {
        grid-row: 5;
        grid-column: 1;
    }

    /* footer */

    footer {
        width: 100%;
    }

    #footer-container {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 20px;
    }

    #footer-container>div h6 {
        margin: 30px 0 0 0;
    }

    #footer-container>div:nth-child(1) span {
        width: 60vw;
    }

    #footer-container>div:nth-child(2) ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #footer-container>div:nth-child(3) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #footer-container>div:nth-child(3) h6 {
        grid-column: span 3;
    }

    #footer-container>div:nth-child(3) img {
        margin: auto 0;
    }

    #footer-container>div:nth-child(4) {
        grid-template-columns: repeat(4, 1fr);
    }

    #footer-container>div:nth-child(4) h6 {
        grid-column: span 4;
    }

    #footer-container>div:nth-child(4) span {
        display: none;
    }

    #footer-container div {
        display: flex;
    }
}