:root {
    --fontmain: "Mulish", serif;
    --fontsub: "Inter", serif;
    --colormain: #fff;
    --colorsub: #1D4ED8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100%;
    background-color: #ECEDF2;
    font-family: var(--fontmain);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colormain);
    border-bottom: 2px solid #dedede;
    position: sticky;
    top: 0;
    z-index: 99;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 100px;
}

nav li {
    list-style-type: none;
    display: inline;
}

nav a {
    color: rgba(15, 23, 42, 1);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    line-height: 20px;
    size: 14px;
}

nav>a img {
    width: 130px;
    height: 51px;
}

nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu-bar {
    display: none;
}

/* end of navbar */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.grid-container {
    display: flex;
    gap: 30px;
    width: 80vw;
}

.profile {
    background-color: #ffffff;
    height: 783px;
    min-width: 328px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 30px 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile>img {
    width: 136px;
    height: 136px;
    object-fit: cover;
    border-radius: 136px;
    margin: 20px 0;
}

.profile>p:first-of-type {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .75px;
    margin: 10px 0;
}

.profile>p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 400;
    color: rgba(78, 75, 102, 1);
    margin-bottom: 50px;
}

.loyalty {
    border-top: 1px solid rgba(222, 222, 222, 1);
    padding: 30px 0;
}

.loyalty p {
    margin: 20px 0;
}

.loyalty p:nth-of-type(2) {
    margin-top: 50px;
}

.profile>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}

.bar {
    position: relative;
}

.bar img {
    position: absolute;
    top: 0;
}

.card {
    min-width: 248px;
    height: 125px;
    background-color: #1D4ED8;
    border-radius: 16px;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    box-shadow: 0 5px rgba(29, 78, 216, 0.5);
    overflow: hidden;
}

.card img {
    position: absolute;
    right: 0;
    top: 0;
}

.card::before {
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: -30px;
    right: -50px;
    width: 122px;
    height: 122px;
    border-radius: 122px;
}

.card::after {
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: -60px;
    right: -30px;
    width: 122px;
    height: 122px;
    border-radius: 122px;
}

.grid-container>div:nth-child(2) {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 40px;
}

.box {
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu {
    background-color: #fff;
    border-radius: 16px;
    padding: 0 40px;
    display: flex;
    gap: 30px;
    align-items: center;
    height: 84px;
    color: rgba(170, 170, 170, 1);
    font-size: 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu>div:hover {
    cursor: pointer;
    border-bottom: 2px solid #1D4ED8;
    height: 84px;
    display: flex;
    align-items: center;
    color: rgba(20, 20, 43, 1);
    font-size: 18px;
}

.flex {
    display: flex;
    gap: 20px;
    color: rgba(78, 75, 102, 1);
}

.flex>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
}

.box:nth-child(2)>div:first-of-type {
    border-bottom: 2px solid #DEDEDE;
    padding: 15px 0;
    margin-bottom: 20px;
}

#code-phone {
    border-right: 1px solid #dedede;
    padding-right: 10px;
    margin-right: 10px;
    height: 40px;
    align-content: center;
}

.flex>div>div {
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    padding: 0 20px;
    height: 64px;
    display: flex;
    align-items: center;
}

.box:nth-child(3)>div:first-of-type {
    border-bottom: 2px solid #DEDEDE;
    padding: 15px 0;
}

.password {
    display: flex;
    gap: 20px;
}

.password>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.password>div {
    margin: 20px 0;
    gap: 10px;
}

.pass {
    display: flex;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    padding: 0 20px;
}

.pass>input {
    height: 64px;
    flex: 1;
    border: none;
    font-size: 16px;
    letter-spacing: .75px;
    color: rgba(160, 163, 189, 1);
}

.pass>input:focus {
    outline: none;
}

.pass>img {
    margin-left: 9px;
}

.pass>img:hover {
    cursor: pointer;
}

.btn>button {
    width: 360px;
    height: 56px;
    border: none;
    background-color: rgba(29, 78, 216, 1);
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    border-radius: 16px;
}

.btn>button:hover {
    cursor: pointer;
    background-color: #0a36ad;
}

.history {
    display: grid;
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.fl {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.inline {
    display: flex;
}

.paid {
    display: flex;
}

#info-ticket {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "a c"
    "b c";
    margin-left: 30px;
}

.row1 {
    display: flex;
    grid-area: a;
    align-items: flex-end;
    gap: 20px;
}

.row2 {
    display: flex;
    grid-area: b;
    align-items: center;
    gap: 20px;
}

.total {
    display: flex;
    grid-area: c;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}