:root {
    --fontmain: "Mulish", serif;
    --fontsub: "Inter", serif;
    --colormain: #fff;
    --colorsub: #1D4ED8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100%;
    background-color: var(--colormain);
    font-family: var(--fontmain);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colormain);
    border-bottom: 2px solid #dedede;
    position: sticky;
    top: 0;
    z-index: 99;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 100px;
}

nav li {
    list-style-type: none;
    display: inline;
}

nav a {
    color: rgba(15, 23, 42, 1);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    line-height: 20px;
    size: 14px;
}

nav img {
    width: 130px;
    height: 51px;
}

nav button {
    border-radius: 5px;
    height: 48px;
    width: 81px;
    box-sizing: content-box;
    font-family: inherit;
}

#btn-sign-in {
    border: 1px solid rgba(29, 78, 216, 1);
    color: rgba(29, 78, 216, 1);
    background-color: white;
}

#btn-sign-up {
    border: none;
    color: white;
    font-family: inherit;
    background-color: rgba(29, 78, 216, 1);
}

#menu-bar {
    display: none;
}

/* end of navbar */

main {
    width: 100%;
    height: 920px;
    display: flex;
}

#bg-result{
    flex: 1.4;
    background-image: url(../../src/result-bg.png);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-result::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#bg-result > div {
    display: grid;
    color: #fff;
    z-index: 1;
    width: 80%;
}

#barcode {
    flex: 1;
    background-color: #ECEDF2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#up {
    width: 295px;
    height: 295px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px dashed #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
}

#up::before {
    content: "";
    display: block;
    background-color: #ECEDF2;
    position: absolute;
    bottom: -19px;
    right: -19px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

#up::after {
    content: "";
    display: block;
    background-color: #ECEDF2;
    position: absolute;
    bottom: -19px;
    left: -19px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

#down {
    width: 295px;
    height: 340px;
    background-color: white;
    position: relative;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#down::before {
    content: "";
    display: block;
    background-color: #ECEDF2;
    position: absolute;
    top: -19px;
    right: -19px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

#down::after {
    content: "";
    display: block;
    background-color: #ECEDF2;
    position: absolute;
    top: -19px;
    left: -19px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

#barcode button {
    width: 357px;
    height: 56px;
}

/* FOOTER STYLES */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
}

#footer-container {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin: 50px;
}

#footer-container>div:not(:nth-child(4)) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#footer-container>div:nth-child(1) {
    width: 25%;
}

#footer-container>div:nth-child(1) img {
    width: 184px;
    margin: 0;
}

#footer-container>div p {
    font-weight: 700;
    margin: 20px 0;
}

#footer-container>div span {
    margin: 0;
    color: #6E7191;
    line-height: 2rem;
}

#footer-container>div:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

#footer-container>div:nth-child(4) p {
    grid-column: span 2;
}


#footer-container>div:nth-child(2)>ul {
    list-style-type: none;
    line-height: 2rem;
    color: #6E7191;
}

#copy {
    color: #4E4B66;
    margin: 50px;
}